.circleci/
.husky/
.scannerwork/
.semaphore/
.test_report/
coverage/
node_modules/
.editorconfig
.gitignore
.nvmrc
.prettierrc.json
*.md
eslint.config.mjs
jest.config.js
LICENSE
Makefile
npmrc.txt
package*.json
sonar-project.properties
tsconfig.json
src/setupTest.js